<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Soft skills
    </ion-title>
    <ion-icon class="logout" color="danger" slot="end" size="large" name="log-out" (click)="signOut()"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-card >
        <ion-card-header><h3><ion-icon name="people"></ion-icon> &nbsp; Soft skills</h3></ion-card-header> <!-- Here I create Soft skills card -->


        <ion-card-content style="padding-top:12px;">
            
          <ion-icon   name="happy"></ion-icon><p>&nbsp;&nbsp;&nbsp;Positive Attitude</p>
        </ion-card-content>
     
        <ion-card-content>
            <ion-icon  name="help-circle-outline"></ion-icon><p>&nbsp;&nbsp;&nbsp;Problem-Solving Skills</p>
          </ion-card-content>
    
          <ion-card-content>
             <ion-icon  name="move"></ion-icon><p>&nbsp;&nbsp;&nbsp;Flexibility/Adaptability</p>
            </ion-card-content>
          
            <ion-card-content>
                <ion-icon  name="construct"></ion-icon><p>&nbsp;&nbsp;&nbsp;Creativity</p>
              </ion-card-content>
         
              <ion-card-content>
                 <ion-icon  name="trending-up"></ion-icon><p>&nbsp;&nbsp;&nbsp;Ambtition</p>
                </ion-card-content>
           
      </ion-card>

</ion-content>
