p{
    display:inline-block;
    font-weight: bold;
    text-align: left;
    padding-top: 2%;
    position: absolute;
    
}
ion-icon{
    font-size: 32px!important;
    display:inline-block;
    color: #FF6F61!important;
}
h2{
    text-align: center;
    font-style: italic;
}
ion-card-header{
    border-bottom: 1px solid gray;

}