<ion-tabs >

  <ion-tab-bar slot="bottom" color="light">

    <!--Creating tab bar-->
    <ion-tab-button tab="tab2">
      <ion-label>Personal Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-label>Technical skills</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-label>Soft skills
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab8">
      <ion-label>Personal Projects</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab6">
      <ion-label>Team Projects</ion-label>
    </ion-tab-button>

  
  <ion-tab-button tab="tab7">
      <ion-label>Extra activities</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="tab5">
      <ion-label>Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
