<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Technical skills
    </ion-title>
    <ion-icon class="logout" color="danger" slot="end" size="large" name="log-out" (click)="signOut()"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card >
      <ion-card-header><h2><ion-icon name="code-working"></ion-icon> &nbsp;Technical skills</h2></ion-card-header> <!-- Here I create Technical skills card-->
       
      <ion-card-content style="padding-top:12px;"><img src="../../assets/img/ps_ico.png" style="display:inline-block; width:10%;"><p>Adobe Photoshop</p>
      </ion-card-content>

      <ion-card-content><img src="../../assets/img/illu_ico.png" style="display:inline-block; width:10%;"><p>Adobe Illustrator</p>
      </ion-card-content>

      <ion-card-content><img src="../../assets/img/vscode_ico.png" style="display:inline-block; width:10%;"><p>Visual Studio Code</p>
      </ion-card-content>

      <ion-card-content><img src="../../assets/img/blender_ico.png" style="display:inline-block; width:10%;"><p>Blender</p>
      </ion-card-content>

      <ion-card-content><img src="../../assets/img/java_ico.png" style="display:inline-block; width:10%;"><p>Java</p>
      </ion-card-content>

      <ion-card-content><img src="../../assets/img/js_ico.png" style="display:inline-block; width:10%;"><p>JavaScript</p>
      </ion-card-content>

      <ion-card-content><img src="../../assets/img/mysql.png" style="display:inline-block; width:10%;"><p>MySQL</p>
      </ion-card-content>

      <ion-card-content><img src="../../assets/img/html_ico.png" style="display:inline-block; width:10%;"><p>HTML</p>
      </ion-card-content>

      <ion-card-content><img src="../../assets/img/css_ico.png" style="display:inline-block; width:10%;"><p>CSS</p>
      </ion-card-content>

      <ion-card-content><img src="../../assets/img/ionic_ico.png" style="display:inline-block; width:10%;"><p>Ionic 4 Framework</p>
      </ion-card-content>


    </ion-card>
</ion-content>
