p{
    font-weight: bold;
    display:inline-block;
    padding-top: 2%;
    padding-left: 20px;
    position: absolute;
}



ion-card-header{
    border-bottom: 1px solid gray;

}

ion-icon{
    color: #FF6F61!important;
}
