<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title>Navigation</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content padding color="dark">
        <ion-list style="background:transparent;" color="dark">
          <ion-menu-toggle *ngFor="let p of appPage">
            <ion-item color="dark" [routerLink]="p.url" [routerDirection]="'root'"> <!-- Here I get tab name, url and icon from app.component.ts for navigation bar-->
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{p.title}}</ion-label>
              
            </ion-item>
            
          </ion-menu-toggle>
        </ion-list>  
      </ion-content>
    </ion-menu>
    <ion-router-outlet main>   </ion-router-outlet>
  </ion-split-pane>
</ion-app>